.slide{
   font-family:'Times New Roman', Times, serif;
}

.background{
    background-image: url(images/Bookmark.jpg);
    background-size: cover;
}
.box {
    background-color: rgba(247, 244, 244, 0.801);
    text-align: center;
    border-radius: 5px;
    width: 400px;
    height: 600px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    line-height:initial;
}

.box_search{
    background-color: rgba(247, 244, 244, 0.801);
    border-radius: 2px;
    width: 800px;
    height: 1000px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    line-height:initial;
}
.input_search{
    width: 40%;
    height: 30px;
    text-align: left;
    background-color: rgba(247, 244, 244, 0.801);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
}
.input_search_button{
    width: 20%;
    height: 30px;
    text-align: center;
    background-color: rgba(49, 40, 40, 0.801);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
}
.input {
    width: 80%;
    height: 40px;
    background-color: rgba(247, 244, 244, 0.801);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
}