* {
    font-family: "Playfair Display";
    outline: none;
}
input {
    background-color: transparent!important;
    width: 100%!important;
}
input:valid {
    border-color: transparent!important;
}
.background-account {
    background-image: url("a-images/sfondoaccount.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}
button {
    background-color: rgb(255, 254, 254);
    border: none;
    cursor:pointer;
}
.pswButton {
    font-size: 16px;
    color: black;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: rgb(247, 240, 232);
    width: 200px;
    height: 25px;
    margin-top: 10px;
}
.img-frame {
    position: relative;
    text-align: center;
    width: 21%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
}
.reading-books {
    position: fixed;
    top: 7%;
    width: 50%;
    height: 87%;
    text-align: center;
    overflow: auto;
}
.saved-books {
    position: fixed;
    margin: auto;
    top: 7%;
    width: 50%;
    height: 87%;
    left:50%;
    text-align: center;
    overflow: auto;
}
.finished-books { 
    position: fixed;
    margin: auto;
    top: 18%;
    width: 50%;
    height: 76%;
    left:25%;
    text-align: center;
    overflow: auto;
}
.numfin-books{ 
    background-color: rgba(255, 255, 255, 0.823);
    text-align: center;
    border-radius: 10px;
    position: fixed;
    top: 10%;
    left:33%;
    height: 40px;
    width: 470px;
}
.check-catalog {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 6%;
    text-align: center;
    border-style: inset;
    border-color: black;
    border-left: none;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.658);
}
.check-catalog a {
    text-decoration: underline!important;
}

.row-books {
    margin: 0 auto;
    padding-left: 0%;
    position: relative;
}
.book {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px 10px;
}
.shelf {
    align-content: center;
    position: relative;
    margin: auto;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    top: -1.5rem;
    left: -0.8rem;
    z-index: -1;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 450px;
    border-radius: 0.5rem;
}
.savedmodal-trigger, .readingmodal-trigger , .finishedmodal-trigger { 
    display: inline-block;
    width: 105px;
    height: 175px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    background-color: rgb(255, 255, 255);
    border: 1px;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    padding: 15px 15px;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.savedmodal-trigger:hover, .readingmodal-trigger:hover , .finishedmodal-trigger:hover { 
    background-color: rgb(241, 241, 241);
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
}
.container-modal {
    display: inline-block;
    vertical-align: top;
    padding-right: 1.5rem;
}
.title-modal {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}
.author-modal {
    font-family: Arial;
    font-size: 15px;
}
.other-info-modal {
    font-family: Arial;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.buttons-modal {
    position: fixed;
    left: 40%;
    bottom: 1.5rem;
    width: 100%;
}
.button-modal {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 16px;
    font-size: 14px;
    color: black;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
    min-width: 10%;
    height: 25px;
    text-decoration: none!important;
    text-align: center;
}
.button-modal:hover {
    background-color: rgb(241, 241, 241);
}
.box {
    background-color: rgba(255, 255, 255, 0.623);
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0px 0px -200px;
}
.advice{
    padding-top: 10%;
}
.margin{
    margin-bottom: -9px;
}

.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    padding: 8px 16px;
    width: 30px;
    height: 25px;
    margin: 0;
    z-index: 2;
}
.dropdown:hover .dropbtn {
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 16px;
    top:80%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px 0 5px 5px;
    z-index: 2;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgb(241, 241, 241);
}
.dropdown:hover .dropdown-content {
    display: block;
}